.container {
    margin-top: 30px;
    width: 60vw;
}

/* Create two equal columns that floats next to each other */
.image-column {
    float: left;
    width: 30%;
    min-width: 100px;
}

.text-column {
    float: left;
    width: 70%;
}

/* Clear floats after the columns */
.container:after {
    content: "";
    display: table;
    clear: both;
}
.title {
    width: 100%;
    text-align: right;
    font-size: 35px;
    font-style: italic;
    border-bottom-style: solid;
    border-bottom-color: grey;
    margin-bottom: 30px; 
}
h1 {
    margin-right: 30px;
    margin-top: 0;
}
.name {
    margin-bottom: 0px;
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
}
.img-about {
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 0;
    width: 80%;
    
}
.text-about {
    margin-top: 30px;
}

@media screen and (max-device-width: 800px) {
    .text-column {
        width: auto;
    }
  }