<div class='main-nav'>
    <nav class='navbar'>
        <div class="container-fluid">
            <div class="navbar-brand">
                <a routerLink="home">
                    <img class="brand" src="{{imageURL}}">
                </a>
            </div>
            <div class="navbar-body">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="portfolio" [routerLinkActive]="['nav-active']">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="about" [routerLinkActive]="['nav-active']">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contact" [routerLinkActive]="['nav-active']">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>