ul { 
    padding:0; 
    margin:20px auto
}
li { 
    display:inline;
}
.tn { 
    margin:2px 0px;
    box-shadow:#999 1px 1px 3px 1px; 
    cursor: pointer 
}
.image-collage { /* Masonry container */
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    
    -webkit-column-gap: 12px;
    -moz-column-gap: 12px;
    column-gap: 12px;
}
.thumbnail {
    width: 100%;
    padding: 0px;
    border-radius: 0px;
    margin-bottom: 12px;
    border: none;
}
.thumbnail:hover {
    cursor: pointer;
}
.box {
    display: inline-block;
    position: relative;
}
.leftside {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    cursor: pointer;
}
.rightside {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    cursor: pointer;
}
.btn-back, .btn-forward{
    text-align:center;
    opacity:0.9;
    background-color:black;
    padding:10px;
    color:white;
    cursor:pointer;
}
.btn-back {
    position: absolute;
    left: 0px;
    top: 30vh;
}
.btn-forward {
    position: absolute;
    right: 0px;
    top: 30vh;
 }
.selected-image {
    max-width: 100%;
    max-height: 80vh;
}
.caption {
    width: auto;
    left: 0;
    opacity: 0.9;
    background-color: black;
    color: white;
    padding: 5px;
    font-family: verdana;
    font-size: 12px;
}

.modal-content{
    border-radius: 0px;
}
.modal-dialog{
    text-align:center;
    position: relative;
    display: table;
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}
